#hm-page {
  min-height: 250vh;
}
.expect_from_course.section_space_lg .col.col-lg-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.expect_from_course.section_space_lg .btn.border_dark {
  background-color: #47d975;
  color: white;
  border: rgb(71, 217, 117);
}
.expect_from_course.section_space_lg .btn.border_dark:hover {
  box-shadow: 0 8px 24px 0 rgba(71, 217, 117, 0.4);
}
.counter_section.bg_light.section_space_md .counter_item {
  text-align: center;
}

/* .advertisement_section.bg_dark, */
.pricing_section.section_space_lg.bg_light {
  overflow: hidden;
}
.form_item textarea {
  resize: none;
}
.main_menu_list .dropdown.none > a:after {
  display: none;
}
.testimonial_section.section_space_lg .swiper {
  overflow: hidden;
}
.course_card.list_layout {
  height: auto;
}
.course_card.list_layout img {
  object-fit: contain;
  /* max-height: 250px; */
  /* height:100%; */
}
.course_card.list_layout .item_category_list li {
  display: flex;
  gap: 10px;
}
.image_widget.page_banner_image.uni,
.image_widget.page_banner_image.uni img {
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.info_list.unordered_list_block.specialist li i,
.info_list.unordered_list_block.specialist li {
  font-size: 25px;
}
.hero_banner.style_1 .banner_big_title {
  max-width: 90%;
}
.main_menu_list > li > a > button {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.pagination_nav.unordered_list li.selected a {
  background-color: #035ab2;
  color: white;
}
.news_page .page_banner .content_wrapper {
  min-height: 270px;
}
.swiper-button-next,
.swiper-button-prev {
  opacity: 0;
  visibility: hidden;
}
@media only screen and (min-width: 500px) {
  .main_menu_list > li:hover > a:after {
    transform: rotateX(-180deg) !important;
  }
  .dropdown.fff:hover > .dropdown-menu {
    display: block;
  }
  .dropdown.fff > .dropdown-menu > .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 500px) {
  .dropdown.fff > .dropdown-menu {
    width: 40%;
  }
  .dropdown.fff > .dropdown-menu li > .dropdown-menu {
    position: absolute;
    width: 150%;
    left: 100%;
    overflow: hidden;
  }
  .main_menu_list .dropdown-menu {
    min-width: 150px;
  }
}
section.nf-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #e3f2fd41;
  z-index: 222222;
}
.nf-modal button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;
}
.nf-modal button:hover {
  background-color: #265df2;
}
.nf-modal button.show-modal,
.nf-modal .modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
section.nf-modal.active .show-modal {
  display: none;
}
.nf-modal .overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
section.nf-modal.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
.nf-modal .modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
section.nf-modal.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.nf-modal .modal-box i {
  font-size: 70px;
  color: #4070f4;
}
.nf-modal .modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.nf-modal .modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.nf-modal .modal-box .buttons {
  margin-top: 25px;
}
.nf-modal .modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}
select,
option {
  border: none;
  outline: none;
  /* background-color: transparent; */
  /* color: red; */
}
.lang_option img {
  width: 30px;
  height: 20px;
}
.css-b62m3t-container {
  width: 120px;
  color: #000000;
}
/* 
.header_btns_group.unordered_list_end select,
.header_btns_group.unordered_list_end select option {
  border-radius: 0px;
} 
*/
/* .header_btns_group.unordered_list_end select { */
/* width: 150px; */
/* height: 30px; */
/* } */
/* select option[value="az"] {
  background-image: url('resim1.jpg');
} */
/* header select option[value="en"] {
  background-image: url('/public/images/flag/Flag_of_the_United_Kingdom.svg.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  margin-left: 20px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
}
header select option[value="az"] {
  background-image: url('/public/images/flag/Flag_of_the_United_Kingdom.svg.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  margin-left: 20px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
}
header select option[value="uk"] {
  background-image: url('/public/images/flag/Flag_of_the_United_Kingdom.svg.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  margin-left: 20px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
}
header select option[value="tr"] {
  background-image: url('/public/images/flag/Flag_of_the_United_Kingdom.svg.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  margin-left: 20px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
} */
/* select option[value="tr"] {
  background-image: url('resim3.jpg');
} */
/* select option[value="uk"] {
  background-image: url('resim3.jpg');
} */
.mdp-float {
  display: none;
}
.css-7crn4c-singleValue div {
  /* line-height: 20px; */
  display: flex;
  gap: 2px;
  /* justify-content: space-between; */
  align-items: center;
}
.css-7crn4c-singleValue img {
  width: 25px;
  height: 20px;
  object-fit: cover;
}
.css-1fdsijx-ValueContainer {
  padding: 2px 0 !important;
}
.css-qbdosj-Input input {
  display: none;
}
