#hm-page {
  min-height: 250vh;
}
.expect_from_course.section_space_lg .col.col-lg-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.expect_from_course.section_space_lg .btn.border_dark {
  background-color: #47d975;
  color: white;
  border: rgb(71, 217, 117);
}
.expect_from_course.section_space_lg .btn.border_dark:hover {
  box-shadow: 0 8px 24px 0 rgba(71, 217, 117, 0.4);
}
.counter_section.bg_light.section_space_md .counter_item {
  text-align: center;
}

.advertisement_section.bg_dark,
.pricing_section.section_space_lg.bg_light {
  overflow: hidden;
}
.form_item textarea {
  resize: none;
}
.main_menu_list .dropdown.none > a:after {
  display: none;
}
.testimonial_section.section_space_lg .swiper {
  overflow: hidden;
}
.course_card.list_layout {
  height: auto;
}
.course_card.list_layout img {
  object-fit: contain;
  /* max-height: 250px; */
  /* height:100%; */
}
.course_card.list_layout .item_category_list li {
  display: flex;
  gap: 10px;
}
.image_widget.page_banner_image.uni,
.image_widget.page_banner_image.uni img {
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.info_list.unordered_list_block.specialist li i,
.info_list.unordered_list_block.specialist li {
  font-size: 25px;
}
.hero_banner.style_1 .banner_big_title {
  max-width: 90%;
}
.main_menu_list > li > a > button {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.pagination_nav.unordered_list li.selected a {
  background-color: #035ab2;
  color: white;
}
@media only screen and (min-width: 500px) {
  .main_menu_list > li:hover > a:after {
    transform: rotateX(-180deg) !important;
  }
  .dropdown.fff:hover > .dropdown-menu {
    display: block;
  }
  .dropdown.fff > .dropdown-menu > .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 500px) {
  .dropdown.fff > .dropdown-menu {
    width: 40%;
  }
  .dropdown.fff > .dropdown-menu li > .dropdown-menu {
    position: absolute;
    width: 150%;
    left: 100%;
    overflow: hidden;
  }
  .main_menu_list .dropdown-menu {
    min-width: 150px;
  }
}
